@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>AJAX View</p>
<script>
    window.addEventListener('load', function () {
        alert('Going to make a fetch request (Native fetch AJAX) and show notification.');
        fetch('/Home/AjaxCall').then(function(response) {
            var messages = nToastNotify.toastr.fetchGetMessagesFromResponse(response);
            nToastNotify.toastr.showToasts(messages);

            alert('Going to make a XMLHTTPRequest (Normal AJAX Request) and show notification.');
            $.ajax('/Home/AjaxCall');
        });
    })
</script>